In [2]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Load the dataset into a DataFrame
df_15 = pd.read_csv(r'C:\Users\d7sha\OneDrive\Desktop\Assignments\DataAnalytics\2015_KSI.csv')
df_16 = pd.read_csv(r'C:\Users\d7sha\OneDrive\Desktop\Assignments\DataAnalytics\2016_KSI.csv')
df_17 = pd.read_csv(r'C:\Users\d7sha\OneDrive\Desktop\Assignments\DataAnalytics\2017_KSI.csv')
df_18 = pd.read_csv(r'C:\Users\d7sha\OneDrive\Desktop\Assignments\DataAnalytics\2018_KSI.csv')

In [3]:
#Merge all data
df=pd.concat([df_15,df_16,df_17,df_18])
allData = df[['YEAR', 'VEHICLES_IN_STREET', 'DISTRICT', 'NEIGHBOURHOOD','ACCLASS']]
allData

,YEAR,VEHICLES_IN_STREET,DISTRICT,NEIGHBOURHOOD,ACCLASS
0,2015,46,North York,Pleasant View (46),Non-Fatal Injury
1,2015,23,Etobicoke York,Pelmo Park-Humberlea (23),Non-Fatal Injury
2,2015,17,Etobicoke York,Mimico (17),Non-Fatal Injury
3,2015,14,Etobicoke York,Islington-City Centre West (14),Fatal
4,2015,14,Etobicoke York,Islington-City Centre West (14),Fatal
...,...,...,...,...,...
1069,2018,48,North York,Hillcrest Village (48),Non-Fatal Injury
1070,2018,48,North York,Hillcrest Village (48),Non-Fatal Injury
1071,2018,130,Scarborough,Milliken (130),Non-Fatal Injury
1072,2018,130,Scarborough,Milliken (130),Non-Fatal Injury
1073,2018,130,Scarborough,Milliken (130),Non-Fatal Injury

In [4]:
# Group the data by 'Year' and 'District' and calculate the total vehicles in the street
vehicles_per_district = allData.groupby(['YEAR', 'DISTRICT'])['VEHICLES_IN_STREET'].sum()

# Print the result
vehicles_per_district

YEAR  DISTRICT
2015  <Null>                     130
      Etobicoke York            5417
      North York               12049
      Scarborough              27003
      Toronto and East York    24031
2016  Etobicoke York            6956
      North York               11188
      Scarborough              28952
      Toronto and East York    25168
2017  <Null>                     173
      Etobicoke York            6978
      North York               12858
      Scarborough              30342
      Toronto and East York    23715
2018  Etobicoke York           11221
      North York               14093
      Scarborough              30735
      Toronto East York          837
      Toronto and East York    19294
Name: VEHICLES_IN_STREET, dtype: int64

In [5]:
# Group the data by 'Neighbourhood' and calculate the average number of vehicles in the street
average_vehicles_per_neighbourhood = allData.groupby('NEIGHBOURHOOD')['VEHICLES_IN_STREET'].mean()

# Print the result
average_vehicles_per_neighbourhood

NEIGHBOURHOOD
Agincourt North (129)                 129.0
Agincourt South-Malvern West (128)    128.0
Alderwood (20)                         20.0
Annex (95)                             95.0
Banbury-Don Mills (42)                 42.0
                                      ...
Wychwood (94)                          94.0
Yonge-Eglinton (100)                  100.0
Yonge-St.Clair (97)                    97.0
York University Heights (27)           27.0
Yorkdale-Glen Park (31)                31.0
Name: VEHICLES_IN_STREET, Length: 138, dtype: float64